body {
    font-family: 'Libre Baskerville', serif;
    margin: 50;
    padding: 50;
    background-color: #f5f5f5;
    color: #333333;
}

.menu-toggle {
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: inline-block; /* 변경: block에서 inline-block으로 변경 */
    margin-right: 20px; /* 추가: 오른쪽 여백 추가 */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
}

.nav-menu {
    display: none;
}

/* 메뉴가 활성화됐을 때의 스타일 */
.nav-menu.active {
    display: block;
}

.nav {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    justify-content: space-between;
    width: 100%;
}

.nav-title {
    display: inline-block; /* 추가: 인라인 블록으로 변경 */
    margin: 0;
    font-size: 1.5em;
    cursor: pointer;
}

.nav-menu ul {
    gap: 20px;
    padding: 0;
    list-style: none;
}

.nav-menu ul li a {
    color: #333;
    text-decoration: none;
    transition: border-bottom 0.3s; /* 밑줄이 생기는 효과에 애니메이션을 적용합니다. */
    border-bottom: 2px solid transparent; /* 투명한 밑줄을 기본값으로 설정합니다. */
    padding-bottom: 5px; /* 밑줄이 텍스트와 너무 붙지 않도록 패딩을 추가합니다. */
}

.nav-menu ul li a:hover {
    border-bottom: 2px solid #000; /* 마우스 호버 시 검은색 밑줄이 생기도록 설정합니다. */
}

.nav-container {
    max-width: 1000px; /* content의 max-width와 동일하게 설정합니다. */
    margin: auto; /* 중앙 정렬 */
}

#about-me,
#tech,
#experience,
#education,
#projects {
    border-bottom: 2px solid black; /* 검정색 밑줄 추가 */
    padding-bottom: 10px; /* 밑줄과 텍스트 사이의 간격을 조정 */
    display: inline-block; /* 밑줄이 텍스트 길이에 맞춰지도록 설정 */
}

.content {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.profile {
    text-align: center;
    margin-bottom: 2em;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.info .title {
    font-size: 2em;
    margin-top: 0.5em;
}

.info .description {
    font-style: italic;
    color: #666666;
    margin-top: 0.5em;
}

.content h1 {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li:not(:last-child) {
    margin-bottom: 1em;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Spacing between badges */
    margin-bottom: 20px; /* Spacing below the entire section */
}

.badge {
    display: inline-block;
    padding: 5px 15px; /* Badge padding */
    font-size: 0.85em; /* Badge font size */
    border-radius: 20px; /* Rounded corners */
    background-color: #E1E1E1; /* Badge background color */
    color: #333; /* Badge text color */
}

.badge:hover {
    background-color: #000000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.experience-section {
    margin-bottom: 2em;
}

.experience-item {
    margin-bottom: 1.5em;
}

.experience-header h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.experience-header a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

.experience-header p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 0.5em;
}

.experience-item ul {
    list-style: inside square;
}

.experience-item li {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    color: #333;
}

.education-item h3 {
    cursor: pointer;
    color: #333333;
    transition: color 0.3s ease;
}

.education-item h3:hover {
    color: #cdcdcd; 
}

.education-description {
    display: none;
    text-align: left;   
    font-size: 0.9em; /* 글씨 크기 */
    color: #666; /* 글씨 색상 */
    padding-left: 1em; /* 좌측 패딩 */
    border-left: 2px solid #666; /* 좌측 테두리 */
    margin-bottom: 1em; /* 다음 항목과의 여백 */
}

/* 세부 설명이 표시될 때의 스타일 */
.education-item.active  {
    display: block;
    color: #666666; 
}

.collapsible {
    position: relative; /* ::after를 올바르게 위치시키기 위함 */
    cursor: pointer; /* 클릭 가능함을 나타내는 커서 모양 */
}

.collapsible::after {
    content: '>'; /* 'Conestoga College, Waterloo, ON' 옆에 '>' 표시 */
    position: absolute; /* 절대 위치 */
    right: -20px; /* 오른쪽에서 20px 떨어진 위치 */
    top: 0; /* 위에서 0px 위치 */
    transition: transform 0.3s ease; /* 애니메이션 효과 */
}

.collapsible.active::after {
    transform: rotate(90deg); /* 활성화 되었을 때 90도 회전 */
}

.collapsible:hover::after {
    color: #cdcdcd; 
}




.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 2em; /* Adjust as needed */
}

.project-image-left,
.project-image-right {
    width: 50%; /* Adjust as needed */
    height: auto;
    border-radius: 1%;
}

.project-description-right,
.project-description-left {
    width: 50%; /* Adjust as needed */
    padding: 0 20px; /* Adjust as needed */
}

/* Use :nth-child or a specific class to alternate the layout */
.project-item:nth-child(odd) .project-description-right {
    text-align: right;
}

.project-item:nth-child(even) .project-description-left {
    text-align: left;
}


.footer-content {
    flex-direction: column; /* 요소들을 세로로 정렬합니다. */
    text-align: center; /* 텍스트를 가운데로 정렬합니다. */
    padding: 1rem;
}

.footer-text {
    font-style: italic; /* 이탤릭체로 설정 */
    margin-top: 1rem; /* 소셜 아이콘과의 간격을 조정합니다. */
    font-size: small;
}

.social-icons a {
    color: #626262; /* 아이콘 기본 색상 */
    margin: 0 10px;
    font-size: 2.4em; /* 아이콘 크기를 키웁니다. */
}

.social-icons a:hover {
    color: #000; /* 마우스 호버 시 아이콘 색상 */
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    .nav {
        justify-content: flex-start;
        padding: 0.5em;
    }

    .nav-title {
        font-size: 1.2em;
        display: inline-block;
    }

    .profile img {
        width: 120px;
        height: 120px;
    }

    .info .title {
        font-size: 1.5em;
    }

    .content h1 {
        font-size: 1.2em;
    }

    .project-item {
        flex-direction: column;
    }
    .project-image-left,
    .project-image-right,
    .project-description-right,
    .project-description-left {
        width: 100%;
        text-align: center;
    }
    
    .nav-container h2 {
        display: inline-block; /* 모바일 화면에서 h2를 인라인 블록으로 표시 */
    }
}

